@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap);

* {
  font-family: "Roboto", sans-serif
}

body {
  color: #fdfdfd;
  background-color: #1f3a60;
  font-family: Arial, Helvetica, sans-serif;
}

/*
  ========================================
  Detail
  ========================================
*/

h2 {
  font-size: 34px;
  line-height: 44px;
}

h5 {
  color: #a9b2b9;
  font-size: 18px;
  font-weight: 400;
}

h6 {
  font-size: 16px;
  font-weight: 400;
}

table td {
  text-align: center;
}

.modal-90w{
  width: 90%;
  max-width: none!important;
}

@media screen and (max-width: 800px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right !important;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left !important;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}