.App {
  text-align: center;
}

.App-header {
  background-color: #1f3a60;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

body {
  background-color: #1f3a60;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.box-login {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 366px;
  height: 700px;
  border: 1px solid #fff;
  color: #fff;
}

img.logo {
  width: 288px;
  height: 142px;
}

.inputEmail {
  margin-bottom: 30px;
}

.link-register,
.link-forgot {
  color: #fff;
  font-size: 16px;
}

.button {
  font-weight: bold;
  margin-top: 80px;
  background-color: #00a6b5;
  width: 240px;
  height: 50px;
  border-radius: 10px;
  color: #fff;
}

.button-register {
  margin-top: 80px;
  background-color: rgba(228, 126, 26, 1);
  width: 240px;
  height: 50px;
  border-radius: 10px;
  color: #fff;
}

.note-email {
  font-size: 14px;
  text-align: center;
  color: rgba(228, 126, 26, 1);
}

.register-user {
  font-size: 16px;
  color: #00a6b5;
}

.forgot-title {
  font-size: 16px;
  color: rgba(228, 126, 26, 1);
}
