@import url(
  https://fonts.googleapis.com/css?family=Roboto:300,
  400,
  500,
  700&display=swap
);

* {
  font-family: "Roboto", sans-serif;
}

body {
  color: #fdfdfd;
  background-color: #1f3a60;
  font-family: Arial, Helvetica, sans-serif;
}

/*
  ========================================
  Detail
  ========================================
*/

h2 {
  font-size: 34px;
  line-height: 44px;
}

h5 {
  color: #a9b2b9;
  font-size: 18px;
  font-weight: 400;
}

h6 {
  font-size: 16px;
  font-weight: 400;
}

/*
  ========================================
  List
  ========================================
*/

table td {
  text-align: center;
}

.modal-90w {
  width: 90%;
  max-width: none !important;
}

#btn-select-all{
  display: none;
}

@media screen and (max-width: 800px) {

  #btn-select-all{
    display: block;
  }

  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right !important;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left !important;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.button-logoff {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.token-user {
  text-align: left;
}
.row-header {
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #212529;
}


/*
  ========================================
  Loader
  ========================================
*/

#loader {
  animation: animate 1.5s linear infinite;
  clip: rect(0, 80px, 80px, 40px); 
  height: 80px;
  width: 80px;
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}
@keyframes animate {
  0% { 
    transform: rotate(0deg)
  }
  100% { 
    transform: rotate(220deg)
  }
}
#loader:after {
  animation: animate2 1.5s ease-in-out infinite;
  clip: rect(0, 80px, 80px, 40px);
  content:'';
  border-radius: 50%; 
  height: 80px;
  width: 80px;
  position: absolute; 
} 
@keyframes animate2 {
  0% {
    box-shadow: inset #fff 0 0 0 17px;
    transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #fff 0 0 0 2px;
  }
  100% {
    box-shadow: inset #fff 0 0 0 17px;
    transform: rotate(140deg);
  }
}

/*
  ========================================
  Footer
  ========================================
*/

footer {
  position: relative;
  /* position: absolute; */
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

footer small {
  font-weight: 500;
}